.cardContainer {
  height: 200px;
  max-width: 900px;
  margin-bottom: 1rem;
}

.card {
  background-color: #004D61;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.colunaEsquerda,
.colunaDireita {
  padding: 1.5rem;
  flex: 1;
}

.label {
  font-size: 25px;
  margin-right: 50px;
  font-weight: 500;
}

.hr {
  border: 1px solid #FF5031;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

/* Espaçamento extra embaixo do card para telas menores que 768px */
@media (max-width: 767.98px) {
  .cardContainer {
    margin-bottom: 8rem;
  }
}

