.box {
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 8px;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.item:last-child {
  border: 0px;
  padding: 0.5rem 0;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 12px;
}

@media (max-width: 600px) {
  .paginacao {
    width: 100%;
    justify-content: center;
  }
}
