.navLink {
  color: black !important;
  font-weight: bold;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navLink:hover {
  color: green !important;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid green;
}

.navLinkActive {
  color: green !important;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid green;
}

.navLinkActive:hover {
  color: green !important;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid green;
}

.navLinkActive::after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  border-bottom: 2px solid green;
  padding-top: 2px;
}

.offcanvasStart {
  background-color: #f1f7ed;
}

.offcanvasNavLink {
  color: black;
  font-weight: 500;
  border-bottom: 1px solid black;
}

.offcanvasNavLinkActive {
  color: #e74c3c;
  font-weight: bold;
}