@media (max-width: 430px) {
  .media_sm_screen {
    margin-left:  2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1199px) and (min-width: 431px) {
  .media_md_screen {
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .media_lg_screen {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.home_background {
  height: 100%;
  background: linear-gradient(180deg, hsla(192, 100%, 19%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
  border-top: 4px solid #47A138;
  border-bottom: 4px solid #47A138;
  padding-top: 3rem;
  padding-bottom: 3rem;
}