.sidebar {
  /* margin-right: 2rem; */
  /* width: 200px; */
  background-color: #fff;
  /* padding: 1rem; */
  border-radius: 8px;
}

.navLink {
  color: #1a5a68;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
}

.active {
  font-weight: bold;
  color: #00324f;
}
