mat-dialog-content {
  min-width: 400px;
  padding: 1.5rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  padding: 1rem 1.5rem;
}
