

.card {
    margin: 2rem auto;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 32px 34px;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    font-size: 16px;
    padding: 1rem 0;
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #47A138;
}


a {
    color: #111;
    text-decoration: none;
    display: block;

}

.active li {
    color: #47A138;
    position: relative;
    font-weight: 700;
    border-bottom: 1px solid #47A138;
}


.active a {
    color: #47A138;
    position: relative;
    font-weight: 700;
}

.active a::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    /* background-color: #47A138; */
    margin: 6px auto 0;
    border-radius: 1px;
}